@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/Home.css" />

<section class="hero-movifleet">
    <div class="hero-content">
        <div class="hero-text">
            <h2> Bienvenido a</h2>
            <h1>Auto<span>Rent Colombia</span></h1>

            <p>
                La forma mas facil, rapida y segura de
                <span>alquilar tu carro</span>
            </p>
        </div>

        <div class="hero-image">
            <img src="~/images/BMW.png" alt="Hero Image">
        </div>
    </div>
</section>

