@model CreateBranchDTO

@{
    ViewData["Title"] = "Nueva Sucursal";
}
<link rel="stylesheet" href="~/css/theme-dark.css" />

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Sucursales</a></li>
            <li class="breadcrumb-item active">Nueva Sucursal</li>
        </ol>
    </nav>
</div>

<section class="branch dashboard">
    <div class="card">
        <div class="card-header">
            <h3 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h3>
        </div>

        <div class="card-body mt-3">
            <form asp-action="Create" method="post" class="row g-3">

                <div class="col-md-12">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Status" class="form-label"></label>
                    <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<BranchStatus>()">
                        <option value="">Seleccione un estado</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}