<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link " asp-controller="Branches" asp-action="Index">
                <i class="bi bi-geo-alt"></i>
                <span>Sucursales</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Users" asp-action="Index">
                <i class="bi bi-people"></i>
                <span>Usuarios</span>
            </a>
        </li>

    </ul>

</aside>