@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <p>@Model.Message</p>
}
else
{
    <p>Algo salio mal.</p>
}

<p>
    <a asp-controller="Home" asp-action="Index">Regresar al inicio</a>
</p>